/* ~~~~ MAIN STYLES ~~~~ */

body {
  padding: 0;
  margin: 0;
  background-color: #eee;
  font-family: 'Raleway', 'Arial', sans-serif;
  line-height: 1.5rem;
  }

.mainwrap {
    max-width: 60%;
    min-width: 300px;
    margin: 0 auto;
    padding: 10px;
  }

h1, h2, h3 {
  font-family: 'Orbitron', 'Arial Black', sans-serif;
}

h4, h5, h6 {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 800;
}

h2 {
  margin-top: 2em;
  color: #001f5c;
  font-size: 2em;
}

h4 {
  margin-top: 2.5em;
}

.bigtext {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 1.5em;
  line-height: 1.4em;
}



/* ~~~~ HEADER ~~~~ */

.spaceship {
  width: 11em;
  float: right;
  position: absolute;
  top: 3em;
  right: 5em;
  z-index: 10;
}

header {
  padding: 0;
  margin: 0;
  background-image: url('../images/stars.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 25em;
  width: 100%;
  border-bottom: 1em solid #ff4747;
}

.header {
  margin: 0;
  text-align: center;
  color: #ddd;
  line-height: 1.2em;
}

p.header {
  padding: 4em 0 0 0;
  font-family: 'Orbitron', 'Arial Black', sans-serif;
  font-weight: 900;
  font-size: 2em;
}

h1.header {
  padding: 0;
  font-family: 'Orbitron', 'Arial Black', sans-serif;
  font-weight: 900;
  font-size: 6em;
  background: linear-gradient(180deg, #fff 0%, #fff 20%, #333 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



/* ~~~~ SECTION 1 ~~~~ */

.social {
  padding: 0.5em;
  text-align: center;
}

.social > li {
  list-style: none;
  display: inline-block;
  margin: 0 0.75em;
}



/* ~~~~ SECTION 2 ~~~~ */

.imgwrap {
  float: right;
}

.biophoto {
  margin: 1em 1em 0 1em;
  padding: 0;
  width: 15em;
  border: 3px solid #ff4747;
  border-radius: 50%;
}

.imgcred {
  margin: -0.75em 1em 1em 1em;
  padding: 0;
  text-align: center;
  color: #aaa;
  font-size: 0.6em;
}



/* ~~~~ FOOTER ~~~~ */

footer {
  padding: 2em 0;
  margin: 3em 0 0 0;
  background-color: #ff4747;
  width: 100%;
  text-align: center;
  font-size: 0.75em;
  color: #333;
}





/* ~~~~ MEDIA QUERIES ~~~~ */

@media only screen and (max-width: 1000px) {

  .mainwrap {
    max-width: 75%;
  }

  header {
    min-height: 20em;
  }

  .bigtext {
    font-size: 1.3em;
    line-height: 1.4em;
  }

  .spaceship {
    width: 8.5em;
    text-align: center;
  }

  .header {
    text-align: left;
  }

  p.header {
    padding: 3em 0 0 0;
  }

  h1.header {
    font-size: 5em;
  }


}






@media only screen and (max-width: 700px) {

  .bigtext {
    font-size: 1em;
    line-height: 1.5rem;
  }

  .spaceship {
    width: 8.5em;
    right: 2.5em;
  }

  h1.header {
    font-size: 4em;
  }

  p.header {
    padding: 4.5em 0 0 0;
    font-size: 1.5em;
  }

  .imgwrap {
    float: none;
    text-align: center;
  }

}


@media only screen and (max-width: 550px) {

  .spaceship {
    width: 5em;
    right: 2.5em;
  }

  h1.header {
    font-size: 3em;
  }

  p.header {
    padding: 6.5em 0 0 0;
    font-size: 1em;
  }  

}





@media only screen and (max-width: 450px) {

  h1, h2, h3 {
    text-align: center;
  }

  header {
    text-align: center;
    min-height: 0;
  }

  .spaceship {
    padding-bottom: 1em;
    width: 3em;
    float: none;
    position: static;
  }

  .header {
    text-align: center;
  }

  p.header {
    padding: 2em 0 0 0;
    font-size: 1em;
  }

}





@media only screen and (min-width: 1200px) {

  .mainwrap {
    width: 60%;
    max-width: 1000px;
  }

}







